:root {
  --colorPrimario: #134156;
  --colorSecundario: #2E828B;
  --colorTerciario:  #8AD8ED;
  --fuentePrimaria :'Montserrat', sans-serif;

}

body {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  font-family: var(--fuentePrimaria);
  justify-content: space-between;
}

.button-language button {
  padding: .8em 2em;
  border: none;
  border-radius: 35px;
  margin: 1.2em 3em;
  background-color: var(--colorSecundario);
  color: white;
  cursor: pointer;
}

.button-language button:hover {
  background-color: black;
  color: white;
  transition: .5s;
}

span.icon-circle-down {
  margin: 0 .7em;
}

div.logo {
  
}

.logo img {
  width: 450px;
  height: 230px;
}

.logo h1{

}

.button-contact button {
  padding: .8em 2em;
  border: none;
  border-radius: 35px;
  margin: 1.2em 3em;
  background-color: var(--colorSecundario);
  color: white;
  cursor: pointer;
}

.button-contact button:hover {
  background-color: black;
  color: white;
  transition: .5s;
}

div.menu {
  text-align: center;
}

.menu nav {
  margin-top: 1em;
}

nav a {
  padding: 0 2em;
  font-size: 1.3em;
  font-family: var(--fuentePrimaria);
  text-decoration: none;
  color: var(--colorPrimario);
  font-weight: bold;
}

nav a:hover {
  border-bottom: 3px solid var(--colorSecundario);
  width: .5em;
  transition: .3s;
}

section.hero {
  display: flex;
  flex-direction: column; 
  text-align: center;
  font-family: var(--fuentePrimaria);
}

.hero div.titulo-principal {
  font-size: 1.3em;
  margin-top: 3em;
}

div.button-buscar {
  display: flex;
  justify-content: space-between;
  font-size: .8em;
  border: 3px solid black;
  width: 60%;
  margin: 4em auto;
  padding: .5em;
  border-radius: 40px;
  background-color: black;
  color: var(--colorTerciario);
  font-family: var(--fuentePrimaria);
}

.button-buscar h2 {
  letter-spacing: .2em;
  
}

.button-buscar button {
  border-radius: 25px;
  padding: 0 2em;
  font-size: 1.2em;
  background-color: var(--colorTerciario);
  cursor: pointer;
}

.button-buscar button:hover {
  background-color: white;
  color: black;
  transition-duration: .5s;
}

.hero div.titulo-secundario {
  font-family: var(--fuentePrimaria);
  font-size: .8em;
  width: 70%;
  margin: 2em auto;
}

div.credits {
  font-size: .8em;
  margin-top: 2em;
}

section.skills {
  display: flex;
  align-items: center;
  margin-top: 5em;
  height: 90vh;
}


.skills div.skill {
  flex: 1;
  text-align: center;
  font-family: var(--fuentePrimaria);
}

.skill span.icon {
  font-size: 10em;
  color: black;
}

.skill p {
  padding: 2em;
  font-size: 1.3em;
  font-family: var(--fuentePrimaria);
  font-weight: lighter;
  text-align: justify;
  letter-spacing: 0;
}

div.html span {
}

div.skill h3 {
  font-size: 1.7em;
  color: var(--colorPrimario);
  font-weight: bolder;
}

div.css span {

}


div.JS span {

}


section.projects {
  font-family: var(--fuentePrimaria);
  text-align: center;

}

.projects p {

}

.projects h3 {

} 

.prjects img {
  
}


.projects div.projects {


}

.projects p {

}

.projects h3 {
  font-size: 3em;
}