:root {
  --colorPrimario: #134156;
  --colorSecundario: #2E828B;
  --colorTerciario:  #8AD8ED;
  --fuentePrimaria :'Montserrat', sans-serif;

}

header {
  display: flex;
  font-family: var(--fuentePrimaria);
  justify-content: space-between;
}

.button-language button {
  padding: .8em 2em;
  border: 5px solid var(--colorPrimario);
  border-radius: 35px;
  margin: 1.2em 3em;
}

div.logo {
  
}

.logo img {
  width: 350px;
  height: 200px;
}

.logo h1{

}

.button-contact button {
  padding: .8em 2em;
  border: 5px solid var(--colorSecundario);
  border-radius: 35px;
  margin: 1.2em 3em;
}

div.menu {

}

.menu nav {

}

nav a {

}